* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex-basis: 20%;
    background-color: #03a696;
    color: #253659;
}
aside>div {
    position: sticky;
    top: 0px;
}
aside nav {
    border-top: 1px solid #253659;
    border-bottom: 1px solid #253659;
    background-color: #03a696;
}
aside nav ul {
    list-style-type: none;
    padding: 1em;
}
aside nav ul li {
    cursor: pointer;
    transition-duration: 0.5s;
}
aside nav ul li:hover {
    background-color: #04bf9d;
}
aside nav ul li.disabled {
    cursor: default;
    background-color: #03a696;
}
aside nav ul li a {
    padding: 0.5em;
    cursor: inherit;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}
aside nav ul li.disabled a {
    pointer-events: none;
}
aside .links a{
    display: block;
    margin: 1.5em;
    text-align: center;
}
aside .links a:visited{
    color: #253659;
}

.banner h2 {
    position: absolute;
    margin: 1em;
    color: #f27457;
    background-color: #253659d0;
    padding: 0.5em;
    border-radius: 0.5em;
}
.banner img {
    width: 100%;
}

main {
    flex-basis: 80%;
    background-color: #253659;
}
main .welcomeMsg h3 {
    font-size: 400%;
    text-align: center;
    margin: 2em;
    margin-bottom: 0em;
    color: #f27457;
}
main .welcomeMsg p {
    font-size: 150%;
    margin: 2em;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 10em;
    color: #bf665e;
}
main #productsList {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
main .item {
    background-color: #03a696;
    transition-duration: 0.5s;
    margin: 1em 1.5em;
    cursor: pointer;
}
main .item:hover {
    background-color: #04bf9d;
}
main .item figure {
    width: 90%;
    margin: 5% auto 0%;
    position: relative;
}
main .item figure .itemImage {
    width: 100%;
}
main .item figure .hidden {
    display: none;
}
main .item figure .addToCart {
    display: block;
    width: 30%;
    position: absolute;
    bottom: 4px;
    left: 35%;
    background-color: #04bf9da0;
    transition-duration: 0.4s;
    border-radius: 1em 1em 0em 0em;
}
main .item figure .addToCart:hover {
    background-color: #04bf9de0;
}
main .item figure .addToCart img {
    width: 100%;
    padding: 0.4em;
}
main .item figure .amount {
     position: absolute;
     bottom: 4px;
     right: 0px;
     padding: 0.3em;
     background-color: #bf665e;
     border-radius: 0.4em 0em 0em 0em;
}
main .item .itemName {
    margin: 2% 5% 0%;
    font-size: 115%;
}
main .item .itemCategory {
    margin: 0% 5% 4%;
    font-size: 80%;
}
@media screen and (max-width: 1024px) {
    aside {
        font-size: 60%;
    }
    aside nav ul li {
        padding: 1em 0em;
    }
    main #productsList {
        grid-template-columns: 50% 50%;
    }
    main .item {
        margin: 0.5em 1em;
    }
}
@media screen and (max-width: 400px) {
    h2 {
        display: none;
    }
    aside {
        flex-basis: 50%;
    }
    main {
        flex-basis: 50%;
    }
    main #productsList {
        grid-template-columns: 100%;
    }
}
